environment:
  matrix:
    - TOXENV: py36
    - TOXENV: py37
    - TOXENV: py38
    - TOXENV: py39

build: off

install:
  - py -3.6 -m pip install wheel tox tox-appveyor

test_script:
  - py -3.6 -m tox